cmake-build-*
testmodule-out
build
out
.*
!.gitignore
!.clang-format
**.zip
.aider*
doxygen
CMakeSettings.json
/venv/
build/
!/misc/build/
/misc/build/**
!/misc/build/cbuild_workspace.yml
!/misc/build/Makefile
/Makefile
.idea
cmake_build
cmake-*
\#*\#
*~
.DS_Store
*-out
local/
venv
site/

dev-workspace-*/
dev-workspace/
dev-workspace-backup/
Testing
**/Testing
