cmake-build-*
example-out
build
out
.*
!.gitignore
!.clang-format
**.zip
.aider*
doxygen
CMakeSettings.json
/venv/
build/
.idea
cmake_build
cmake-*
\#*\#
*~
.DS_Store
*-out

dev-workspace-*/
dev-workspace/
dev-workspace-backup/
Testing
**/Testing